<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <title> EGFiuza</title>

      <style>

        #banner {

          height: 360px;
          width: 100%;
          object-fit: cover;
          
        }
        
      </style>

    
  </head>

  <body>

    <div class="container">
      
    

    <h1 class="text-center mt-4">{{company_name}} Careers</h1>
      <img id="banner" src="https://egfiuza-careers.egfiuza.repl.co/static/banner.jpg" height="320">

    <h2> About EGFiuza</h2>


    <p class="lead"> Técnica de informática; montagem, verificação de 
compatibilidade solftware e hardwares. Formatação, reinstalação de sistemas operacionais. Configuração, atualização de BIOS, instalação de softwares, apps, drives. Correção de Bug´s.<br>
      
- Consultoria<br>
- Infraestrutura<br>
-Redes <br>
           
Certificações: Impacta Certificação ICS - Impacta Certified Specialist -
Hardware and Cabling Engineer<br>
           
- Cursos Presenciais<br>
Eletroeletrônica - Básica (Senai);<br>
Eletrônica Analógica (Senai);<br>
Hardware Fundamentos (Impacta Tecnologia);<br>
Hardware Service and Supporting (Impacta Tecnologia);<br>
Hardware Manutenção em notebooks (Impacta Tecnologia); <br>
Conceitos e Infra Estrutura de Redes (Impacta Tecnologia);<br>
Cabling I - Cabeamento Estruturado (Impacta Tecnologia);<br>
Cabling II - Projeto (Impacta Tecnologia);<br>
Lógica de Programação (Teming Sistemas);<br>
Edição de Vídeo - Studio 9 (Pinnacle Systems);<br>
Conceitos de Rede (Hacker School);<br>
Access 2000 - Modulo II< (Impacta Tecnologia);<br>

- Cursos On-line<br>
PHP;<br>
JAVA;<br>
JavaScript,<br>
HTML;<br>
CSS;<br>
Android;<br>
Python;<br>
SQL;<br>
C#;<br>
C++;<br>
Boostrap;<br>
TypeScript;<br>
Django;<br>
Node.js;<br>
React;<br>
Git;<br>
GitHub;<br>
JQuery;<br>
R;<br>
Excel;<br>
ASP;<br>
Sass;<br>
Canvas;<br>
Replit;<br>
ChatGPT;<br>
Bash;<br>
Flask;<br>
BackEnd;<br>
FrontEnd;<br>

FATEC – Faculdade de Tecnologia de São Sebastião
Curso Superior de Tecnologia em Gestão da Tecnologia da Informação (Graduando) <br>

- Perfil
Como profissional da área de tecnologia; desenvolver metodos e manter funcionando um servidor e; ou sistema, quer seja empresa ou residência para mim, é um grande satisfação e uma fonte inesgotável de estudo e pesquisas.
Portanto; sou dedicada e a disposição para novos aprendizados.<br>

- Características 
Habilidades Gerenciais, Acompanhamento de Resultados, Capacidade de Gestão Operacional, Autodidática, Persistência.</p><br>

    </p>
        <h2> Open Posistions</h2>

        <div> 
        {% for job in jobs %}

          {% include 'jobitem.html' %}
                
        {%endfor%}
        </div>
      
            <button class="btn btn-outline-primary">Contact</button>

        <p class="mt-4"> Copyright 2023, EGF</p>
      
         <p align="right">
     A vida tornou-se uma coleção de senhas<br>
           ByFlaviaRecanzone
  </p>

      </body>

</html>